.ipynb_checkpoints/*
data/*
sql_server\.ini

old/

convoy_plots/

deprecated/

andreas_work_on_that_pleaserino/

fig/

archive/

gp_plots/

gp_plots_V2/

gp_plots_V3/

gp_plots_V4/

gp_plots_V5/

figs/

backup/
